.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffbf7;
}

.menu-title {
  margin: 40px;
  font-size: 75px;
  color: #03045E;
}

.player-input {
    width: 500px;
    height: 80px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #00B5E2;
    padding: 10px;
    font-size: 32px;
    text-align: center;
    color: #03045E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.player-input::placeholder {
    color: #03045E;
    opacity: 0.5;
}



.button {
    width: 200px;
    padding: 10px 0;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fffbf7;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    background-color: #03045e;
  }
  
  .button-secondary {
    background-color: #0077b6;
  }
  
  .button-secondary:hover {
    background-color: #008080;
  }
  